table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    background-color: lightcyan;
}

table, footer, a, header, h3, h1, p {
    font-family: georgia, garamond, serif;
}

